/* 3840 - 4096 */
@media (min-width: 3840px) and (max-width: 4096px) {
    .wrap{
        width: 75vw;
    }
}

/* 2880 - 3840 */
@media (min-width: 2880px) and (max-width: 3840px) {
    .wrap{
        width: 75vw;
    }
}

/* 2560 - 2880 */
@media (min-width: 2560px) and (max-width: 2880px) {
    .wrap{
        width: 75vw;
    }
}

/* 1920 - 2560*/
@media (min-width: 1920px) and (max-width: 2560px) {
    .wrap{
        width: 75vw;
    }
}
/* 1600-1920 */
@media (min-width: 1600px) and (max-width: 1920px) {
    .wrap{
        width: 75vw;
    }

    .item-feature-categories:nth-child(1){
        height: 55vw;
    }

}
/* 1200-1600 */
@media (min-width: 1200px) and (max-width: 1600px) {
    .wrap{
        width: 75vw;
    }

    .item-feature-categories:nth-child(1){
        height: 49vw;
    }

    /*.item-feature-categories:nth-child(2){*/
    /*    height: 24vw;*/
    /*}*/

    /*.item-feature-categories:nth-child(3){*/
    /*    height: 24vw;*/
    /*}*/

    /*.item-feature-categories:nth-child(4){*/
    /*    height: 24vw;*/

    /*}*/

    /*.item-feature-categories:nth-child(5){*/
    /*    height: 24vw;*/
    /*}*/

}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .wrap{
        width: 75vw;
    }

    /*.item-feature-categories:nth-child(1){*/
    /*    height: 49.5vmax;*/
    /*}*/

    /*.item-feature-categories:nth-child(2){*/
    /*    height: 24vmax;*/

    /*}*/

    /*.item-feature-categories:nth-child(3){*/
    /*    height: 24vmax;*/

    /*}*/

    /*.item-feature-categories:nth-child(4){*/
    /*    height: 24vmax;*/

    /*}*/

    /*.item-feature-categories:nth-child(5){*/
    /*    height: 24vmax;*/

    /*}*/

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

/* Iphone 5 */
@media (max-width: 320px) {

}