html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
html{
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}
body{
    font-family: 'Open Sans', sans-serif;
    background:#fff;
}
.wrap{
    width:80%;
    margin:0 auto;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    -ms-transition:all .2s linear;
}

/*header top*/
.header-top{
    background:#fff;
    padding: 15px 0;
}
.logo{
    float:left;
    /*margin-right: 40%;*/
}
.cssmenu {
    float:right;
}
.cssmenu ul li {
    display: inline-block;
}
.cssmenu ul li a {
    color: #000;
    display: block;
    margin: 0px 10px;
    text-transform: uppercase;
    font-size: 0.8125em;
}
.cssmenu ul li a:hover{
    color:#555;
}

.header-bottom{
    background:#08080b;
    padding: 5px 0;
}
.bottom-menu {
    float: right;
}
.bottom-menu ul li {
    display: inline-block;
}
.bottom-menu ul li a {
    color: #fff;
    display: block;
    margin: 0px 10px;
    font-size: 0.8125em;
}
.h_nav h4{
    border-bottom:1px solid rgb(236, 236, 236);
    font-size: 1.1em;
    color: #000;
    line-height: 1.8em;
    text-transform:capitalize;
    margin-bottom: 4%;
}
.h_nav h4.top{
    margin-top: 12%;
}
.h_nav ul li{
    display: block;
}
.h_nav ul li a{
    display:block;
    font-size: 0.8125em;
    color:#777;
    text-transform:capitalize;
    line-height:2em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.h_nav ul li a:hover{
    color:#00405d;
    text-decoration:underline;
}

/* Start slider*/
.slider {
    /*width: 50%;*/
    margin: 0 auto;
}

.slick-slide {
    /*margin: 0px 20px;*/
    /*height: 650px;*/
    height: 30vw;
}

.slick-slide img {
    width: 100%;
    /*height: 500px;*/
    height: 40vw;
    max-width: 100%;
}

.slick-prev:before,
.slick-next:before {
    /*color: black;*/
    /*font-size: 70px;*/
    /*color: #00569C;*/
    /*left: -100px;*/
    /*top: -13px;*/
    /*background: white;*/
    /*position: absolute;*/
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.slick-next {
    right: 25px;
}

.slick-prev {
    left: 25px;
    z-index: 9999;
}

/* Start Arrow */
.castom-arrow-prev{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 36px;
    height: 36px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    left: 50px;
}
.castom-arrow-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 36px;
    height: 36px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    right: 50px;
}
.castom-arrow-prev,
.castom-arrow-next{
    font-size: 48px;
    color: #ffffff;
    /*background: black;*/
    /*position: relative;*/
    z-index: 999;
}
/* End Arrow */
/* End slider*/

/* Start header category */
.header-categoys{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.header-category-item{
    height: 25vw;
    /*border: 1px solid #ffffff;*/
}

.category-image1{
    height: 100%;
    width: 100%;
    position:relative;
    background-image: url("../image/category/categorys1_new.jpg");
    background-repeat: no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
}
.category-image2{
    height: 100%;
    width: 100%;
    position:relative;
    background-image: url("../image/category/categorys2_new.jpg");
    background-repeat: no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
}
.category-image3{
    height: 100%;
    width: 100%;
    position:relative;
    background-image: url("../image/category/categorys3_new.jpg");
    background-repeat: no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
}
.category-image4{
    height: 100%;
    width: 100%;
    position:relative;
    background-image: url("../image/category/categorys4_new.jpg");
    background-repeat: no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
}

.category-title{
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 10vh auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
}

.category-descriptions{
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 7vh auto;
    text-align: center;
    color: #ffffff;
}

.category-hover{
    display: grid;
    grid-auto-rows: 1fr;
    height: 100%;
    width: 100%;
    text-align: center;
}

.category-hover:hover{
    background: rgba(204, 204, 204, .45);
}

.category-hover:hover a{
    display: block;
    text-align: center;
    background-color: rgba(35, 35, 35, 1);
    color: #ffffff;
}

.category-link{
    display: none;
    max-height: 30px;
    color: rgb(35, 35, 35);
    text-transform: uppercase;
    font-size: 1.3em;
    margin: auto auto;
    padding: 10px 20px;
}
/* End header category */
/* Start header title*/

.line-diaplay-all{
    height: auto;
    background-color: #424242;
    color: #ffffff;
}

.header-slide-title{
    display: grid;
    height: 150px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 10px;
    padding: 0 30px;
}

.item-icon{
    height: 4vw;
    width: 4vw;
}

.item-text{
    margin: auto 10px;
    text-transform: uppercase;
}

.header-title-item{
    display: grid;
    grid-template-columns: 0.3fr 2fr;
    margin: auto 0;
    /*border: 1px solid #ffffff;*/
}
/* End header title*/
/* Start feature categories*/

.title-feature{
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #2d2a2a;
    padding: 15px 0;
}

.subtitle-feature{
    text-align: center;
    font-size: 14px;
    color: #2d2a2a;
    padding: 0 0 50px 0;

}

.items-feature-categories{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
    /*grid-auto-columns: 200px;*/
    grid-template-areas:
    "first second three"
    "first four five";
}

.item-feature-categories:nth-child(1){
    grid-area: first;
    min-height: 20vw;
    /*height: 100%;*/
    position: relative;
}

.item-feature-categories:nth-child(2){
    grid-area: second;
    min-height: 20vw;
    /*height: 50%;*/
    position: relative;

}

.item-feature-categories:nth-child(3){
    grid-area: three;
    min-height: 20vw;
    /*height: 50%;*/
    position: relative;

}

.item-feature-categories:nth-child(4){
    grid-area: four;
    min-height: 20vw;
    /*height: 50%;*/
    position: relative;

}

.item-feature-categories:nth-child(5){
    grid-area: five;
    min-height: 20vw;
    /*height: 50%;*/
    position: relative;

}

.item-feature-categories img{
    height: 100%;
}

.category-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.feature-categories-name{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    padding: 10px 25px;
    font-size: 1.3em;
}
/* End feature categories*/
/* Start feature products*/
.tabs {
    position: relative; /* Относительное позиционирование */
    text-align: center;
}
.tab, .tab-title {
    display: inline-block; /* Выстраиваем по горизонтали */
    border: none;
}
.tab input[type="radio"] { display: none; }
.tab-title {
    padding: 5px 10px; /* Поля вокруг текста */
}
.tab-content {
    position: absolute; /* Абсолютное позиционирование */
    padding: 10px; /* Поля вокруг текста */
    left: 0; /* Размещаем у левого края */
    width: calc(100% - 20px); /* Ширина содержимого */
    display: none; /* Прячем вкладку */
}

.tab :checked + .tab-title {
    position: relative; /* Относительное позиционирование */
    background: #fff; /* Цвет фона */
    border-bottom: 2px solid #83b735;
    z-index: 1; /* Отображаем поверх содержимого */
}

.tab :hover + .tab-title {
    border-bottom: 2px solid #83b735;
}

.tab :checked ~ .tab-content {
    display: block; /* Показываем активную вкладку */
}

.tabs-feature{
    height: 350px;
}

.products-content{
    height: 300px;
    width: 100%;
    background-color: #fafafa;
    /*background-color: #07A289;*/
}

.tabs-feature .slick-active{
    opacity: 1;
}

.tabs-feature .slick-slide{
    margin: 0 10px;
    height: 100%;
}

.prod-img img{
    height: 100%;
    width: 100%;
}

.prod-title{
    color: #333333;
    line-height: 24px;
}

.prod-sub{
    color: #9e9e9e;
    line-height: 24px;

}

.prod-sale{
    color: #88ba3d;
    line-height: 24px;
}

.castom-arrow-prev.prod{
    left: -25px;
}

.castom-arrow-next.prod{
    right: -25px;
}
/* End feature products*/



/*--footer--*/
.footer-top{
    background:#08080b;
    padding: 5px 0;
    margin: 7vw 0 0 0;
}
.col_1_of_footer-top:first-child {
    margin-left: 0;
}
.span_1_of_footer-top {
    width: 30.7%;
}
ul.f_list img{
    vertical-align:middle;
    float:left;
    margin-right:2%;
}
span.delivery{
    color:#fff;
    font-size:0.8125em;
}
.col_1_of_footer-top {
    display: block;
    float: left;
    margin:0 0 0 3.6%;
}
span.orange{
    color:#FFAF02;
}
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:#fff; text-decoration:none; outline:none;}
.dropdown a:hover { color:#fff;}
.dropdown dt a:hover { color:#fff;}
.dropdown dt a {background:url(../image/footer-icons/arrow.png) no-repeat scroll right center; display:block; padding-right:20px;/*--height:38px;
/*--border-radius: 0 0 4px 4px;--*/
    /*-- width:150px; --*/}
.dropdown dt a span {cursor: pointer;
    display: block;
    padding: 12px 10px;
    font-size: 0.8125em;
    text-transform: uppercase;
    color: #000;}
.dropdown dd ul { background:#555 none repeat scroll 0 0;color:#fff; display:none;
    left:0px; padding:5px 0px; position:absolute; top:13px; width:auto; min-width:200px; list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px; display:block;font-size: 13px;}
.dropdown dd ul li a:hover { background-color:#444;}

.dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
.flagvisibility { float: right;}

/*--dropdown--*/
.dropdown {
    display: block;
    display: inline-block;
    border-right: 1px solid #FFF;
    padding-right: 66%;
    position: relative;
    z-index: 9999;
}
/* ===[ For demonstration ]=== */
/* ===[ End demonstration ]=== */
.dropdown .dropdown_button {
    cursor: pointer;
    width: auto;
    display: inline-block;
    padding: 4px 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    color:#fff;
    line-height:29px;
    text-decoration: none !important;
    background:#595959;
    font-size: 11px;
}
.dropdown input[type="checkbox"]:checked +  .dropdown_button {
}
.dropdown input[type="checkbox"] + .dropdown_button .arrow {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.dropdown input[type="checkbox"]:checked + .dropdown_button .arrow { border-color: white transparent transparent transparent }
.dropdown .dropdown_content {
    position: absolute;
    border: 1px solid #777;
    padding: 0px;
    background:#595959;
    margin: 0;
    display: none;
}
.dropdown .dropdown_content li {
    list-style: none;
    margin-left: 0px;
    line-height: 16px;
    border-top: 1px solid #5F5D5D;
    border-bottom: 1px solid #555353;
    margin-top: 2px;
    margin-bottom: 2px;
}
.dropdown .dropdown_content li:hover {
    border-top-color: #555;
    border-bottom-color: #555;
    background:#444;
}
.dropdown .dropdown_content li a {
    display: block;
    padding: 2px 7px;
    padding-right: 15px;
    color:#fff;
    font-size:13px;
    text-decoration: none !important;
    white-space: nowrap;
}
.dropdown .dropdown_content li:hover a {
    color: white;
    text-decoration: none !important;
}
.dropdown input[type="checkbox"]:checked ~ .dropdown_content { display: block }
.dropdown input[type="checkbox"] { display: none }
/*end-dropdown*/
.footer-middle{
    background:#d5d5d5;
}
.col_1_of_middle:first-child {
    margin-left: 0;
}
.col_1_of_middle{
    display: block;
    float: left;
    margin: 1% 0 1% 3.6%;
}
.span_1_of_middle{
    width: 47.9%;
}
.search {
    background:#fff;
    border: 1px solid #ddd;
    position: relative;
    float:left;
    margin:6px 0px 0 0;
    width:54%;
}
.search input[type="text"] {
    border: none;
    outline: none;
    background: none;
    font-size: 0.8125em;
    font-family: 'Open Sans', sans-serif;
    color: #999;
    width: 83.4%;
    padding: 5px 10px;
    -webkit-apperance: none;
    margin: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}
.search input[type="submit"] {
    border: none;
    text-indent: -9999px;
    outline: none;
    cursor: pointer;
    background: #08080B url("../image/footer-icons/s_arrow.png") no-repeat 11px 7px;
    width: 30px;
    height: 30px;
    padding: 8px;
}
.search input[type="submit"]:active {
    position:relative;
}
span.m_8{
    float: left;
    font-size: 0.8125em;
    text-transform: uppercase;
    color: #000;
    margin: 2% 7% 2% 0;
}
.col_1_of_5:first-child {
    margin-left: 0;
}
.col_1_of_5 {
    display: block;
    float: left;
    margin: 1% 0 1% 3.6%;
}
.span_1_of_5 {
    width: 16.9%;
}
ul.list1 li a {
    font-size: 0.8125em;
    color:#777;
}
ul.list1 li a:hover{
    color:#000;
}
h3.m_9{
    color:#000;
    font-size:1em;
    text-transform:uppercase;
    margin-bottom:6%;
}
h4.m_10{
    margin-bottom:2%;
    font-size:0.85em;
    color:#000;
}
ul.sub_list{
    margin-bottom:9%;
}
ul.sub_list li a{
    color:#777;
    font-size:0.8125em;
}
ul.sub_list li a:hover{
    color:#000;
}
ul.sub_list1 li a{
    color:#999;
    font-size:0.8125em;
}
ul.sub_list2{
    margin:9% 0 0 0;
}
ul.sub_list2 li a{
    color:#777;
    font-size:0.8125em;
}
ul.sub_list2 li a:hover{
    color:#000;
}
.copy{
    background:#08080b;
    text-align:center;
    padding:5px 0;
}
.copy p{
    color:#fff;
    font-size:0.8125em;
}
.copy p a{
    color:#FFAF02;
}
.copy p a:hover{
    color:#fff;
}
.footer-bottom{
    padding:3% 0;
}

.social-list{
    /*display: inline;*/
    padding: 20px;
}

.social-list li{
    display: inline;
}

.green{
    color:#88ba3d;
}
